.Content-Up-p{

    background-image: linear-gradient(rgb(255, 170, 22),#181818);
    height: 300px;
    display: flex;
    flex-direction: column;
}
.Contentp{
    width: 100%;
    height: 420px;
}
.time{
    width: 20px;
    height: 20px;
}
.Content-playlist{
    height: 100vh;
    width: 170vh;
    padding: 20px;
}
text{
    color: gray;
    font-weight: lighter;
    font-size: 14px;
}
.playlist-head{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 10px 20px;

}
.underline{
    width: 100%;
    height: 1px;
    background-color: gray;
    opacity: 50%;
}
.Content-bottom{
    display: flex;
    flex-direction: column;
    top: 80px;
    position: absolute;
    padding: 20px 24px 20px 24px;
}
plaintextname{
    font-size: 66px;
    font-weight: bolder;
}
plaintext{
    font-size: 15px;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
plaintextinfo{
    display: flex;
    align-items: center;
}
plaintextinfo ul{
    display: flex;
    align-items: center;
}
.li{
    margin-left: 20px;
}
.logo{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin: 10px;
}
.Content-down{
    width: 100%;
    height: 100vh;
    background-color: #121212;
}
.Content-actions{
    width: 100vh;
    height: 80px;
    padding: 26px;
    display: flex;
    align-items: center;
}
.play-btn{
    width: 50px;
    height: 50px;
    background-color: #1ED760;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin: 20px;
    cursor: pointer;
}
.threedotp{
    width: 30px;
    height: 30px;
    fill: gray;
    margin-left: 30px;
    cursor: pointer;
}
.play-btn:hover{
    height: 53px;
    width: 53px;
    transition: 5ms;
}
.Song{
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.song-img{
    width: 40px;
    height: 40px;
    margin: 0 16px 0 16px;
}
no{
    color: gray;

}
textname{
    font-size: 16px;
    font-weight: 600;
    color:white;
}
textnameinfo{
    color: gray;
    font-size: 14px;
    margin-top: 2px;
}
.Song-name{
    display: flex;
    flex-direction: column;
}

.date{
    margin-right: 75px;
}
.song-1{
    width: 260px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.Song-details{
    display: flex;
    justify-content: space-between;
    margin-left: 294px;
    width: 1305px;
}

::-webkit-scrollbar-thumb:not(:hover){
    background-color: transparent;
    transition: 10s;
}
