.Content-Up-p{

    background-image: linear-gradient(rgb(255, 170, 22),#181818);
    height: 300px;
    display: flex;
    flex-direction: column;
}
.Contentp{
    width: 100%;
    height: 420px;
}
.Content-playlist{
    height: 100vh;
    width: 100%;
}
.Content-bottom{
    display: flex;
    flex-direction: column;
    top: 80px;
    position: absolute;
    padding: 20px 24px 20px 24px;
}
plaintextname{
    font-size: 66px;
    font-weight: bolder;
}
plaintext{
    font-size: 15px;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
plaintextinfo{
    display: flex;
    align-items: center;
}
plaintextinfo ul{
    display: flex;
    align-items: center;
}
.li{
    margin-left: 20px;
}
.logo{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin: 10px;
}
.Content-down{
    width: 100%;
    height: 100vh;
    background-color: #121212;
}
.Content-actions{
    width: 100vh;
    height: 80px;
    padding: 26px;
    display: flex;
    align-items: center;
}
.play-btn{
    width: 50px;
    height: 50px;
    background-color: #1ED760;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin: 20px;
    cursor: pointer;
}
.threedotp{
    width: 30px;
    height: 30px;
    fill: gray;
    margin-left: 30px;
    cursor: pointer;
}
.play-btn:hover{
    height: 53px;
    width: 53px;
    transition: 5ms;
}




