.Content-Up-p{

    background-image: linear-gradient(rgb(255, 170, 22),#181818);
    height: 300px;
    display: flex;
    flex-direction: column;
}
.Contentp{
    width: 100%;
    height: 420px;
}
.time{
    width: 20px;
    height: 20px;
}
.Content-playlist{
    height: 100vh;
    width: 170vh;
    padding: 20px;
}
text{
    color: gray;
    font-weight: lighter;
    font-size: 14px;
}
.playlist-head{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 10px 20px;

}
.underline{
    width: 100%;
    height: 1px;
    background-color: gray;
    opacity: 50%;
}
.Content-bottom{
    display: flex;
    flex-direction: column;
    top: 80px;
    position: absolute;
    padding: 20px 24px 20px 24px;
}
plaintextname{
    font-size: 66px;
    font-weight: bolder;
}
plaintext{
    font-size: 15px;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
plaintextinfo{
    display: flex;
    align-items: center;
}
plaintextinfo ul{
    display: flex;
    align-items: center;
}
.li{
    margin-left: 20px;
}
.logo{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin: 10px;
}
.Content-down{
    width: 100%;
    height: 100vh;
    background-color: #121212;
}
.Content-actions{
    width: 100vh;
    height: 80px;
    padding: 26px;
    display: flex;
    align-items: center;
}
.row-1{
    display: flex;
    /* background: white; */
    height: 300px;
    background-color: #121212;

}
.des{
    color: #7e7e7e;
    /* margin-top: 6px; */
    font-size: 16px;
    padding: 10px;
    /* margin: unset; */
    padding: 5px 10px 0 10px;
}
.row{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 273px;
    background-color: #121212;
    margin-bottom: 100px;
}
.smtg{
    margin-left: 70px;
}
.card{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 182px;
}
.CardCover{
    display: flex;
    background: #181818;
    height: 273px;
    margin: 16px;
    border-radius: 8px;
}
.play-btn{
    width: 50px;
    height: 50px;
    background-color: #1ED760;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin: 20px;
    cursor: pointer;
    position: fixed;
    left: 233px;
    top: 272px;
}
.row-1{
    display: flex;
}
.threedotp{
    width: 30px;
    height: 30px;
    fill: gray;
    margin-left: 30px;
    cursor: pointer;
}
.play-btn:hover{
    height: 53px;
    width: 53px;
    transition: 5ms;
}
.Song{
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;

}
.song-warp:hover{
    background-color: rgba(128, 128, 128, 0.304);
    border-radius: 8px;
    margin-top: 8px;
}
.song-warp{
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8px;
}
.song-img{
    width: 40px;
    height: 40px;
    margin: 0 16px 0 16px;
}
no{
    color: gray;

}
textname{
    font-size: 16px;
    font-weight: 600;
    color:white;
}
textnameinfo{
    color: gray;
    font-size: 14px;
    margin-top: 2px;
}
.somee{
    background-color: rgb(239 166 42);
    width: 1125px;
    rotate: 29deg;
    height: 64px;
    z-index: 99;
    position: absolute;
    top: -267px;
}
.contentt-down{
    height: 84px;
    width: 100%;
    background-color: rgb(255, 170, 22);
}
.Cover{
    height: 290px;
    width: 281px;
    margin-left: 750px;
}

.Song-name{
    display: flex;
    flex-direction: column;
}

.date{
    margin-right: 75px;
}
.song-1{
    width: 260px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.Song-details{
    display: flex;
    justify-content: space-between;
    margin-left: 294px;
    width: 1305px;
}

::-webkit-scrollbar-thumb:not(:hover){
    background-color: transparent;
    transition: 10s;
    opacity: 50%;
}
.audioimg{
    position: fixed;
    width: 100px;
    height: 100px;
    margin: 26px;
    bottom: -35px;
    z-index: 99;
}
.skip{
    cursor: pointer;
}